{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT FORGOT PASSWORD   ================================= -->

    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
          {% include "includes/alerts.html" %}
          <h4 class="card-title mb-4">Forgot Password</h4>
          <form action="{% url 'accounts:forgot_password' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
              </div> <!-- form-group// -->
              <div class="form-group">
                <a href="{% url 'accounts:login' %}" class="float-right">Back to Login</a> 
            </div> <!-- form-group form-check .// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-block btn-primary">Reset Password </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
    <!-- ============================ COMPONENT FORGOT PASSWORD  END.// ================================= -->
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}