{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    {% if request.GET.command == 'verification' %}
    <div class="container mx-auto alert alert-info text-center" role="alert" style="max-width: 1024px; margin-top:100px;">
        Please enter your new password
    {% else %}

    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
          {% include "includes/alerts.html" %}
          <h4 class="card-title mb-4">Reset Password</h4>
          <form action="{% url 'accounts:reset_password' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
              </div> <!-- form-group// -->
              <div class="form-group">
                {{ form.confirm_password.label_tag }}  
                {{ form.confirm_password }}
              </div> <!-- form-group// -->
              
              <div class="form-group">
                  <button type="submit" class="btn btn-block btn-primary">Reset Password </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    {% endif %}
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}