{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
    <!-- ============================ COMPONENT 2 ================================= -->
    <div class="row">
            <main class="col-md-8">
    
    <article class="card mb-4">
    <div class="card-body">
        <h4 class="card-title mb-4">Review cart</h4>
        <div class="row">
            {% for cart_item in cart_items %}
            <div class="col-md-6">
                <figure class="itemside mb-4">
                    <div class="aside"><img src="{{ cart_item.product.images.url }}" class="border img-sm"></div>
                    <figcaption class="info">
                        <p>{{ cart_item.product.product_name }}</p>
                        <span class="text-muted">{{ cart_item.quantity }}x = ${{ cart_item.sub_total }}</span>
                        {% if cart_item.variations.all %}
                        <p class="text-muted small">
                            {% for item in cart_item.variations.all %}
                                {{ item.variation_category | capfirst }}: {{ item.variation_value | capfirst }} <br>
                            {% endfor %}
                        </p>
                        {% endif %}
                    </figcaption>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
    </article>

    <form action="{% url 'place_order' %}" method="POST">
        {% csrf_token %}
        
        <!-- Form Errors -->
        {% if form.errors %}
            <div class="col-12">
                <div class="alert alert-danger">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p><strong>{{ field.label }}:</strong> {{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p><strong>Error:</strong> {{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <article class="card mb-4">
        <div class="card-body">
            <h4 class="card-title mb-4">Contact info</h4>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>First name</label>
                    {{ form.first_name }}
                </div>
                <div class="form-group col-sm-6">
                    <label>Last name</label>
                    {{ form.last_name }}
                </div>
                <div class="form-group col-sm-6">
                    <label>Phone</label>
                    {{ form.phone }}
                </div>
                <div class="form-group col-sm-6">
                    <label>Email</label>
                    {{ form.email }}
                </div>
                <div class="form-group col-sm-6">
                    <label>City</label>
                    {{ form.city }}
                </div>
            </div>
        </div>
        </article>

        <article class="card mb-4">
        <div class="card-body">
            <h4 class="card-title mb-4">Delivery info</h4>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>Country*</label>
                    {{ form.country }}
                </div>
                <div class="form-group col-md-8">
                    <label>Street*</label>
                    {{ form.address_line_1 }}
                </div>
                <div class="form-group col-md-4">
                    <label>Building</label>
                    {{ form.address_line_2 }}
                </div>
                <div class="form-group col-md-6">
                    <label>City*</label>
                    {{ form.city }}
                </div>
                <div class="form-group col-md-6">
                    <label>Postal code</label>
                    {{ form.postal_code }}
                </div>
            </div>
            <div class="form-group">
                <label>Order Note</label>
                {{ form.order_note }}
            </div>
        </div>
        </article>

        <button type="submit" class="btn btn-primary btn-block">Place Order</button>
    </form>
    </main>

    <aside class="col-md-4">
        <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                    <dt>Total price:</dt>
                    <dd class="text-right">${{ total }}</dd>
                </dl>
                <dl class="dlist-align">
                    <dt>Tax:</dt>
                    <dd class="text-right">${{ tax }}</dd>
                </dl>
                <dl class="dlist-align">
                    <dt>Total:</dt>
                    <dd class="text-right text-dark b"><strong>${{ grand_total }}</strong></dd>
                </dl>
                <hr>
                <p class="text-center mb-3">
                    <img src="{% static 'images/misc/payments.png' %}" height="26">
                </p>
            </div>
        </div>
    </aside>
    </div>
    </div>
</section>
{% endblock %}